.button {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  border-radius: 36px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__icon {
    display: block;
    width: 18px;
    height: 18px;
  }

  &__text {
    padding-left: 10px;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &--search {
    & .button__icon {
      background-image: url(../../assets/icon-search.svg);
    }
  }

  &--save {
    & .button__icon {
      background-image: url(../../assets/tick.svg);
      background-repeat: no-repeat;
      background-size: 2rem;
      background-position: center;
    }
  }
}
