.custom-checkbox {
  font-size: 1.6rem;
  color: var(--tertiary-color);

  &__input {
    display: none;
  }

  &__label {
    display: flex;
    align-items: center;
  }

  &__label::before {
    content: '';
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 1.2rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
  }
}

.custom-checkbox__input:checked + .custom-checkbox__label::before {
  background-image: url(../../assets/tick.svg);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center;
  background-color: var(--primary-color);
}

.custom-checkbox__label--bottom {
  position: relative;
  margin-top: 3.8rem;
}

.custom-checkbox__label--bottom::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -3.8rem;
}
