.custom-text-input {
  padding: 1rem 1.7rem;
  background-color: var(--secondary-color);
  color: var(--quaternary-color);
  border: 3px solid transparent;
  border-radius: .8rem;
  font-size: 1.6rem;

  &--incorrect {
    border: 3px solid var(--warning-color);
  }
}