.personal-data {
  padding: 0 3.6rem 2rem 3.6rem;
}

.pd-section {
  margin-bottom: 3rem;

  &:first-child {
    margin-bottom: 4rem;
  }

  &__inner {
    margin-top: 1.8rem;

    &--gender,
    &--activity {
      display: flex;
      justify-content: space-between;
    }
  }
}