<<<<<<< HEAD
=======
.personal-data {
  padding: 0 3.6rem 2rem 3.6rem;
}

>>>>>>> 9248c6dc4889dc71611c15c5e48e704c4eafd39a
.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}